{% extends "base.html" %}

{% block container %}
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <h3>Sorted tags from ICLR</small></h3>
          </div>
        </div>

        <hr />

        {% for tag, tag_count in tags.most_common() %}
        <div class="row" style="margin-bottom:0.5em">
          <div class="col-md-12">
            <h5><a href="{{ url_for('search', query=tag) }}">{{ tag }}
              &nbsp; <i class="fa fa-tags" aria-hidden="true"></i></a>
            </h5>
            <p class="mb-0">Appears {{ tag_count }} times</p>
          </div>
        </div>
        <hr />
        {% endfor %}

      </div> <!-- /container -->
{% endblock %}
